body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of the viewport */
}

.header {
    display: flex;
    justify-content: space-between; /* Aligns children (h2 and button group) on opposite ends */
    align-items: center; /* Vertically centers the children */
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-group {
    display: flex; /* Aligns buttons in a row */
    gap: 10px; /* Spaces buttons apart */
}
.content {
    flex-grow: 1; /* Take up the remaining space */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px; /* Padding inside the content area */
}

h2 {
    color: #020d14;
    margin: 0;
}

p {
    color: gray;
    margin: 5px 0;
}

#tweetEmbedContainer {
    position: relative; /* Needed for absolute positioning of children */
    min-height: 100px; /* Ensure there's enough space for the loading indicator */
    height: 550px; /* Fixed height to prevent shifting */
}

.skeleton-container {
    display: none; /* Hide by default */
    flex-direction: column;
}

.skeleton-card {
    width: 100%;
    height: 200px;
    background: linear-gradient(to right, #ccc 25%, #e0e0e0 50%, #ccc 75%);
    background-size: 200% 100%;
    animation: loading 1s infinite linear;
    margin-bottom: 10px;
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.url-link {
    display: block;
    padding: 8px;
    margin: 5px;
    background-color: #f0f0f0;
    color: #000;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.url-link-new {
    animation: slideDown 0.3s forwards;
}

@keyframes slideDown {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0);
    }
}

.url-link:hover {
    background-color: #e0e0e0;
}

.tweet-embed-new {
    animation: slideDown 1s forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

button {
    padding: 8px 16px;
    margin: 0 5px;
    background-color: #020d14;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

button:hover {
    background-color: #072234;
}

.close-button {
    background-color: transparent;
    color: #020d14;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: large;
}

.close-button:hover {
    background-color: transparent;
}

.toggle-button {
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
